@charset 'utf-8';
#nav ul .bg{
	left: 800px;
}
#main-copy .aside-right .middle{
	padding: 10px 20px;
}
#main-copy .aside-right .middle #message{
	font-size: 14px;
	padding: 20px;

}
#main-copy .aside-right .middle #message input{
	margin: 10px 20px;
	vertical-align: middle;
	height: 20px;
}
#main-copy .aside-right .middle #message textarea{
	margin: 10px 20px;
	height: 100px;
	overflow: auto;
	vertical-align: middle;
	width: 400px;
}
#main-copy .aside-right .middle .commentstitle{
	font-size: 20px;
	line-height: 40px;
}
#main-copy .aside-right .middle #comments{
	padding-left: 5px;
	height: 166px;
	overflow: hidden;
	position: relative;
	border: 1px solid #f0f0f0;
}
#main-copy .aside-right .middle #comments_container{
	position: absolute;
	width: 100%;
}
#main-copy .aside-right .middle #comments li{
	margin-bottom: 10px;
}
#main-copy .aside-right .middle #comments h3{
	font-size: 16px;
	line-height: 24px;
}
#main-copy .aside-right .middle #comments h3 span{
	margin-right: 10px;
}
#main-copy .aside-right .middle #comments p{
	font-size: 16px;
}
#main-copy .aside-right .middle #message font{
	color: red;
}
#main-copy .aside-right .middle #message .submit{
	text-align: center;
	width: 600px;
	margin-top: 50px;
}
#main-copy .aside-right .middle #message #submit{

	width: 50px;
	height: 26px;
	margin: 0 auto;
	background: #b3bbd9;
	border: 0;
	cursor:pointer;
}
